---
layout: main
title: "Tags"
description: "Neat is the best！"
thumbnail: tag
---


<div class="col-md-12 main content-panel">
    <blockquote class="tag-comments">
        标签命名规范：
        <li>行业观察、职位、公司优先使用中文</li>
        <li>外国产品、术语优先使用英文</li>
    </blockquote>
    <div id='tag_cloud' class="tags">
        {% for tag in site.tags %}
        <a href="#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">{{ tag[0] }}</a>
        {% endfor %}
    </div>
</div>
{% for tag in site.tags %}
<div class="col-md-12 content-panel articles">
    <span class="fa fa-tag listing-seperator" id="{{ tag[0] }}">
        <span class="tag-text">{{ tag[0] }}</span>
    </span>
    <br/>
    <ul>
        {% for post in tag[1] %}
        <li>
            <a href="{{ post.url | prepend: site.baseurl }}">
                {{ post.title }}{% if post.subtitle %}<br/><small>{{ post.subtitle }}</small>{% endif %}
            </a>
            <hr>
        </li>
        {% endfor %}
    </ul>
</div>
{% endfor %}
